*{margin:0; padding:0;}

#topo{
	width:1000px;
	height:300px;
	background:#CCC;
}
#menu{
	width:1000px;
	height:80px;
	background:#F00;
}
#conteudo{
	width:1000px;
	height:600px;
	background:#0F0;
}
#rodape{
	width:1000px;
	height:100px;
	background:#00F;
}