*{margin:0; padding:0;}

#topo{
	width:1000px;
	height:300px;

}

#topo img{
	float: left;
	margin-top:60px;
	margin-left:20px;
}

#menu{
	width:1000px;
	height:80px;
}

#menu ul{
	margin-top:40px;
}

#menu ul li{
	text-decoration:none;
	display:inline;
	margin:40px;
		
}
#menu ul li a{
	text-decoration:none;
	font-size: 30px;
}

#conteudo{
	width:1000px;
	height:600px;
	
}

.img1_conteudo{
	float:left;
	width: 300px;
	height: 300px;
	margin:50px;
}
.img2_conteudo{
	float:right;
	width: 300px;
	height: 300px;
	margin:50px;
}
.titulo_conteudo{
	color: #bbb;
	font-size: 70px;
}
.titulo_conteudo:hover{
	color: #00F;
	text-shadow: 2px 2px #000;
}

.texto_conteudo{
	font-family: "COURIER", 'Verdana', arial;
	font-size:30px;
}

#rodape{
	width:1000px;
	height:100px;	
}

.texto_rodape{
	color:#777;
	font-size:30px;
	font-weight:bolder;
	border-top: 2px solid #000;
}