*{margin:0; padding:0;}

#topo{
	width:1000px;
	height:300px;

}

#topo img{
	float: left;
	margin-top:60px;
	margin-left:20px;
}

#menu{
	width:1000px;
	height:80px;
}

#menu ul{
	margin-top:40px;
}

#menu ul li{
	text-decoration:none;
	display:inline;
	margin:40px;
		
}
#menu ul li a{
	text-decoration:none;
	font-size: 30px;
}

#conteudo{
	width:1000px;
	height:600px;
	background:#0F0;
}
#rodape{
	width:1000px;
	height:100px;
	background:#00F;
}